{% extends "base.html" %}

{% block title %}
Security Verification | FixMyCity
{% endblock %}

{% block body_class %}
auth-page
{% endblock %}

{% block content %}

<header class="auth-navbar">

    <a href="{% url 'home' %}" class="auth-logo">
        FixMyCity
    </a>

    <a href="{% url 'forgot_password' %}?role={{ role }}"
       class="back-home">
        ← Back
    </a>

</header>


<main class="auth-container">

    <div class="login-card">

        <div class="auth-heading">

            <div class="auth-icon">
                ?
            </div>

            <h1>
                Security Verification
            </h1>

            <p>
                Answer your security question
            </p>

        </div>


        <form
            class="login-form"
            method="POST"
            action="{% url 'forgot_password_verify' %}"
        >

            {% csrf_token %}


            <div class="form-group">

                <label>
                    Security Question
                </label>

                <div class = "forgot-security-question">
                    {{ question }}
                </div>

            </div>


            <div class="form-group">

                <label for="security_answer">
                    Your Answer
                </label>

                <input
                    type="text"
                    id="security_answer"
                    name="security_answer"
                    placeholder="Enter your answer"
                    required
                    autocomplete="off"
                >

            </div>


            {% if error %}
                <div class="forgot-error">
                    {{ error }}
                </div>
                {% endif %}


            <button
                type="submit"
                class="login-submit"
            >
                Verify Answer
                <span>→</span>
            </button>

        </form>

    </div>

</main>

{% endblock %}