{% extends "base.html" %}

{% block title %}
Password Reset Successful | FixMyCity
{% endblock %}

{% block body_class %}
auth-page
{% endblock %}

{% block content %}

<header class="auth-navbar">

    <a href="{% url 'home' %}" class="auth-logo">
        FixMyCity
    </a>

</header>


<main class="auth-container">

    <div class="login-card">

        <div class="auth-heading">

            <div class="auth-icon">
                ✓
            </div>

            <h1>
                Password Reset Successful
            </h1>

            <p>
                Your password has been changed successfully.
            </p>

        </div>


        <a
            href="{% if role == 'officer' %}{% url 'officer_login' %}{% else %}{% url 'login' %}{% endif %}"
            class="login-submit"
            style="
                display:flex;
                justify-content:center;
                text-decoration:none;
            "
        >
            Go to Login
            <span>→</span>
        </a>

    </div>

</main>

{% endblock %}